header{
  display: flex;
  align-content: center;
  flex-flow: column wrap;
}

main{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

section{
  width: 200px;
  margin: 30px;
}

footer{
  justify-content: flex-end;
}

